{% extends 'base.html.twig' %}

{% block title %}Facturation index{% endblock %}

{% block body %}
    <h1>Facturation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Souscription_id</th>
                <th>Montant</th>
                <th>SoldeInitial</th>
                <th>SoldeRestant</th>
                <th>Description</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Tel</th>
                <th>Smsc</th>
                <th>ServiceCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturation in facturations %}
            <tr>
                <td>{{ facturation.id }}</td>
                <td>{{ facturation.souscriptionId }}</td>
                <td>{{ facturation.montant }}</td>
                <td>{{ facturation.soldeInitial }}</td>
                <td>{{ facturation.soldeRestant }}</td>
                <td>{{ facturation.description }}</td>
                <td>{{ facturation.date ? facturation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facturation.statut }}</td>
                <td>{{ facturation.tel }}</td>
                <td>{{ facturation.smsc }}</td>
                <td>{{ facturation.serviceCode }}</td>
                <td>
                    <a href="{{ path('facturation_show', {'id': facturation.id}) }}">show</a>
                    <a href="{{ path('facturation_edit', {'id': facturation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('facturation_new') }}">Create new</a>
{% endblock %}
