{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('default') }}">accueil</a>
            </li>
            <li class="breadcrumb-item active">Liste</li>
        </ol>



        <!-- Area Chart Example-->
        <!--  <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Area Chart Example</div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div> -->


        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Liste des publications</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Information</th>
                            <th>Date de diffusion</th>
                            <th>Publié</th>
                            <th>Validé</th>
                            <th>Annulé</th>
                            <th>Voir</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for actualite in actualites %}
                        <tr>
                            <td>{{ actualite.titre }}</td>
                            <td>{{ actualite.information }}</td>
                            <td>{{ actualite.dateDiffusion ? actualite.dateDiffusion|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ actualite.statut }}</td>
                            <td>{{ actualite.valide }}</td>
                            <td>{{ actualite.focus }}</td>
                            <td>
                                <a href="{{ path('actualite_show', {'id': actualite.id}) }}">voir</a>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">Aucune publication trouvée</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Mis à jour  lundi  à 11:59 PM</div>
        </div>

    </div>




    <a href="{{ path('actualite_new') }}">Nouveau</a>
{% endblock %}
