{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">  <h1> Détail de la publication</h1> </div>
            <div class="col-md-6">
                  <a href="{{ path('actualite_edit', {'id': actualite.id}) }}"> <button class="btn btn-default" >Modifier</button> </a> 
                {# <a href="{{ path('actualite_index') }}">back to list</a> #} 
            </div>
          

        </div>
        <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Editeur_id</th>
                <td>{{ actualite.editeurId }}</td>
            </tr>
            <tr>
                <th>Service_id</th>
                <td>{{ actualite.serviceId }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Information</th>
                <td>{{ actualite.information }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ actualite.datePublication ? actualite.datePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateDiffusion</th>
                <td>{{ actualite.dateDiffusion ? actualite.dateDiffusion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ actualite.statut }}</td>
            </tr>
            <tr>
                <th>Valide</th>
                <td>{{ actualite.valide }}</td>
            </tr>
            <tr>
                <th>Focus</th>
                <td>{{ actualite.focus }}</td>
            </tr>
            <tr>
                <th>Differe</th>
                <td>{{ actualite.differe }}</td>
            </tr>
        </tbody>
    </table>

    </div>

    
   {#  <a href="{{ path('actualite_index') }}">back to list</a> #}

   
{% endblock %}
