{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('default') }}">accueil</a>
            </li>
            <li class="breadcrumb-item active">Nouv souscription</li>
        </ol>



        <!-- Area Chart Example-->
        <!--  <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Area Chart Example</div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div> -->


        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Liste des Nouv. souscriptions</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Libelle</th>
                            <th>Login</th>
                            <th>Mot de passe</th>
                            <th>Statut</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for service in services %}
                            <tr>

                                <td>{{ service.code }}</td>
                                <td>{{ service.libelle }}</td>
                                <td>{{ service.reponseAbonne }}</td>
                                <td>{{ service.reponseDesabonne }}</td>
                                <td>{{ service.statut }}</td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">Aucun service trouvé</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Mis à jour  lundi  à 11:59 PM</div>
        </div>

    </div>



{% endblock %}
