<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>E-oser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css accueil -->
  <link href=" {{ asset('https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800')}} " rel="stylesheet">
  <link href=" {{ asset('css/bootstrap.css')}} " rel="stylesheet" />
  <link href=" {{ asset('css/bootstrap-responsive.css')}} " rel="stylesheet" />
  <link href=" {{  asset('css/flexslider.css')}} " rel="stylesheet" />
  <link href=" {{ asset('css/prettyPhoto.css') }} " rel="stylesheet" />
  <link href=" {{ asset('css/camera.css')}} " rel="stylesheet" />
  <link href=" {{ asset('css/jquery.bxslider.css')}} " rel="stylesheet" />
  <link href="{{ asset('css/style.css')}} " rel="stylesheet" />

  <!-- Theme skin -->
  <link href="  {{ asset('color/alcalis.css')}} " rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href=" {{ asset('ico/apple-touch-icon-144-precomposed.png')}} " />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href=" {{ asset('ico/apple-touch-icon-114-precomposed.png')}} " />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href=" {{ asset('ico/apple-touch-icon-72-precomposed.png')}} " />
  <link rel="apple-touch-icon-precomposed" href=" {{ asset('ico/apple-touch-icon-57-precomposed.png')}} " />
  <link rel="shortcut icon" href=" {{ asset('')}} " />



  <!-- =======================================================
    Theme Name: Eterna
    Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <div id="wrapper">

    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <p class="topcontact"><!--<i class="icon-phone"></i>  +62 088 999 123 --></p>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                <li><a href="Facebook.com" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-white"></i></a></li>
                <li><a href="Linkedin.com" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-white"></i></a></li>
                <li><a href="Pinterest.com" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                <li><a href="Google.com" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <a href="{{ path('accueil')}}"><img src="http://officedesecuriteroutiere.ci/wp-content/uploads/2016/09/cropped-cropped-logo_oser.jpg" alt="" /></a>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top  ">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li class=" active"><!-- <li class="dropdown active"> -->
                      <a href="#}"><i class="icon-home"></i> Accueil <i class="icon-angle-down"></i></a>
                       {# <ul class="dropdown-menu">
                        <li><a href="index-alt2.html">Homepage 2</a></li>
                        <li><a href="index-alt3.html">Homepage 3</a></li>
                        <li><a href="index-alt4.html">Parallax slider</a></li>
                        <li><a href="index-landingpage.html">Landing page</a></li>
                      </ul> #}
                    </li>
                    <li class="dropdown">
                      <a href="#">Connexion <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_login')}}">Alcalis</a></li>
                        <li><a href="{{ path('fos_user_security_login')}}">Partenaire</a></li>
                        <li><a href="{{ path('fos_user_security_login')}} ">Admin</a></li> 
                      </ul>
                    </li>

                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

  
  <div class="container alert alert-info ">
  <strong  class="alert alert-warning" ><i class="fa fa-warning"></i> Flash Info !</strong> <marquee><p style="font-family: Impact; font-size: 18pt">Embouteillage sur le boulevard latrille </p></marquee>
  </div>


    <!-- section featured -->
    <section id="featured">

      <!-- slideshow start here -->

      <div class="camera_wrap" id="camera-slide">

        <!-- slide 1 here -->
        <!-- <div data-src="img/slides/camera/slide1/img1.jpg"> -->
          <div data-src="img/slides/camera/slide1/trafic.png">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span6">
                  <h2 class="animated fadeInDown"><strong style="color: rgb(82, 126, 175);">Données du traffic routier en temps réel --
  <span class="colored">multi support</span></strong></h2>
                  <p class="animated fadeInUp alert alert-info" > Le service E-oser vous offre une perspective unique sur la securité routièere . infos en temps-réel,  - découvrez notre plateforme polyvalente, intuitive et innovante.
.</p>
                 
                </div>
                <div class="span6">
                  <img src="img/slides/camera/slide1/screen.png" alt="" class="animated bounceInDown delay1" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- slide 2 here -->
        <div data-src="https://www.blockchains-expert.com/wp-content/uploads/2017/10/Untitled-design-3-4.jpg">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span6">
                  <img src="img/slides/camera/slide2/iMac.png" alt="" />
                </div>
                <div class="span6">
                  <h2 class="animated fadeInDown"><strong style="color: white;">Une plateforme web accessible à tous <span class="colored"></span></strong></h2>
                <!--   <p class="animated fadeInUp alert alert-info"> .</p> -->
                  
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- slide 3 here -->
        <div data-src="https://www.ocreativis.com/wp-content/uploads/2017/01/sms-marketing.png">
          <div class="camera_caption fadeFromLeft">
            <div class="container">
              <div class="row">
                <div class="span12 aligncenter">
                  <h2 class="animated fadeInDown"><strong><span class="colored ">Des campagnes SMS de sensibilisation </span> et <span class="colored">d'information</span> </strong></h2>
                  <!-- <p class="animated fadeInUp alert alert-info">Pellentesque habitant morbi tristique senectus et netus et malesuada</p> -->
                  <img src="https://i2.wp.com/prospect-client.com/wp-content/uploads/2016/11/mobile-phone-2223993_1920.jpg?fit=1920%2C603&ssl=1" alt="" class="animated bounceInDown delay1" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- slideshow end here -->

    </section>
    <!-- /section featured -->

    <section id="content">
      <div class="container">


        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span4">
                <div class="box flyLeft">
                  <div class="icon">
                    <i class="ico icon-circled icon-bgdark icon-star active icon-3x"></i>
                  </div>
                  <div class="text">
                    <h4> <strong>Alcalis Technologies</strong></h4>
                    <p>
                      LE GROUPE ALCALIS vient s’installer en tant que partenaire fiable au développement de la Côte-D’Ivoire voir de L’Afrique.

Ses domaines d’activité sont les TIC, la distribution d’équipements et de matériaux, le cablage reseau, le developpement d'applications, conception de sites web , etc. 
                    </p>
                   <!--  <a href="#">Learn More</a> -->
                  </div>
                </div>
              </div>

              <div class="span4">
                <div class="box flyIn">
                  <div class="icon">
                   <i class="ico icon-circled icon-bgdark icon-star active icon-3x"></i>
                  </div>
                  <div class="text">
                    <h4><strong>E-OSER</strong></h4>
                    <p>
                      E-OSER est la plateforme vous permettant d'être informé sur tout les evenements du traffic routier  en temps réel !!! Avec E-OSER ne ratez aucune info.

                    </p>
                    <!-- <a href="#">Learn More</a> -->
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="box flyRight">
                  <div class="icon">
                    <i class="ico icon-circled icon-bgdark icon-star active icon-3x"></i>
                  </div>
                  <div class="text">
                    <h4> <strong>OSER</strong></h4>
                    <p>
                      OSER est l'ffice de Sécurité Routière. l’Office a pour mission l’étude, la recherche et la mise en œuvre de tous les moyens destinés à accroître la sécurité des usagers de la route, notamment par des mesures de prévention des accidents, de formation des conducteurs de véhicules et par le développement des moyens de l’aide médicale urgente.
                    </p>
                   <!--  <a href="#">Learn More</a> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <div class="solidline"></div>
          </div>
        </div>

       


{#         <div class="row">
          <div class="span12 aligncenter">
            <h3 class="title">Qu'est que les gens <strong>pensent</strong> de ce service</h3>
            <div class="blankline30"></div>

            <ul class="bxslider">
              <li>
                <blockquote>
                  Au lendemain de son indépendance en 1960, la Côte d’Ivoire a consenti d’importants efforts financiers à l’effet de doter le pays d’infrastructures routières, supports indispensables pour un développement harmonieux de l’économie. D’ailleurs on a coutume de dire que la route précède le développement.

C’est pourquoi de 25 000 Km de route hérités en 1960 de la colonisation dont 700 Km bitumés, le réseau national va se développer et atteindre les 45 400 Km en 1980 dont 3 100 Km de bitume, les 80 000 Km en 1999 avec 6 500 Km de bitume et 143 Km d’autoroute, et aujourd’hui les 100 000 Km avec 8 100 Km de bitume dont 243 Km d’autoroute.
                </blockquote>
                <div class="testimonial-autor">
                <!--   <img src="img/dummies/testimonial/1.png" alt="" /> -->
                  <h4>Directeur Général de l’OSER </h4>
                 <!--  <a href="#">www.companyname.com</a> -->
                </div>
              </li>
              <li>
                <blockquote>
                  Au lendemain de son indépendance en 1960, la Côte d’Ivoire a consenti d’importants efforts financiers à l’effet de doter le pays d’infrastructures routières, supports indispensables pour un développement harmonieux de l’économie. D’ailleurs on a coutume de dire que la route précède le développement.

                </blockquote>
                <div class="testimonial-autor">
                 <!--  <img src="img/dummies/testimonial/2.png" alt="" /> -->
                  <h4>Directeur Général de l’OSER</h4>
                 <!--  <a href="#">www.companyname.com</a> -->
                </div>
              </li>
              <li>
                <blockquote>
                  Au lendemain de son indépendance en 1960, la Côte d’Ivoire a consenti d’importants efforts financiers à l’effet de doter le pays d’infrastructures routières, supports indispensables pour un développement harmonieux de l’économie. D’ailleurs on a coutume de dire que la route précède le développement.

                </blockquote>
                <div class="testimonial-autor">
                <!--   <img src="img/dummies/testimonial/3.png" alt="" /> -->
                  <h4>Directeur Général de l’OSER</h4>
                <!--   <a href="#">www.companyname.com</a> -->
                </div>
              </li>
              <li>
                <blockquote>
                  Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                  feugiat
                </blockquote>
                <div class="testimonial-autor">
                  <!-- <img src="img/dummies/testimonial/4.png" alt="" /> -->
                  <h4>Marry Doe Elliot</h4>
                <!--   <a href="#">www.companyname.com</a> -->
                </div>
              </li>
            </ul>

          </div>
        </div> #}

      </div>
    </section>


    <section id="works">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h4 class="title">Nos <strong>Partenaires</strong></h4>
            <div class="row">

              <div class="grid cs-style-4">
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img src="https://www.cjob.alcalis.tech/img/orangeMTN.jpg" alt="" /></div>
                      <figcaption>
                        <div>
                          <span>
								<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                          <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img src="img/slides/camera/slide1/DHs.png" alt="" /></div>
                      <figcaption>
                        <div>
                          <span>
								<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                          <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img src="" alt="" /></div>
                      <figcaption>
                        <div>
                          <span>
								<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                          <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="span3">
                  <div class="item">
                    <figure>
                      <div><img src="" alt="" /></div>
                      <figcaption>
                        <div>
                          <span>
								<a href="img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                          <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>

     
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p style="color : white;"><span>&copy; Copyright © 2018 , <strong><a href="https://alcalis.tech">ALCALIS TECHNOLOGIES</a></strong> </span></p>
              </div>

            </div>

            <div class="span6">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Eterna
                -->
               <!--  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
              </div>
            </div>
          </div>
        </div>
     
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src=" {{ asset('js/jquery.js')}} "></script>
  <script src=" {{ asset('js/jquery.easing.1.3.js')}} "></script>
  <script src=" {{ asset('js/bootstrap.js')}} "></script>

  <script src=" {{ asset('js/modernizr.custom.js')}} "></script>
  <script src=" {{ asset('js/toucheffects.js')}} "></script>
  <script src=" {{ asset('js/google-code-prettify/prettify.js')}} "></script>
  <script src=" {{ asset('js/jquery.bxslider.min.js')}} "></script>
  <script src=" {{ asset('js/camera/camera.js')}} "></script>
  <script src=" {{ asset('js/camera/setting.js')}} "></script>

  <script src=" {{ asset('js/jquery.prettyPhoto.js')}} "></script>
  <script src=" {{ asset('js/portfolio/jquery.quicksand.js')}} "></script>
  <script src=" {{ asset('js/portfolio/setting.js')}} "></script>

  <script src=" {{ asset('js/jquery.flexslider.js')}} "></script>
  <script src=" {{ asset('js/animate.js')}} "></script>
  <script src=" {{ asset('js/inview.js')}} "></script>

  <!-- Template Custom JavaScript File -->
  <script src=" {{ asset('js/custom.js')}} "></script>

</body>
</html>
