{% extends 'base.html.twig' %}

{% block title %}UserRole{% endblock %}

{% block body %}
    <h1>UserRole</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_role.id }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ user_role.userId }}</td>
            </tr>
            <tr>
                <th>Role_id</th>
                <td>{{ user_role.roleId }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user_role.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_role_index') }}">back to list</a>

    <a href="{{ path('user_role_edit', {'id': user_role.id}) }}">edit</a>

    {{ include('user_role/_delete_form.html.twig') }}
{% endblock %}
