{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<!-- <div class="row">
<div class="col-md-12">
  <h1>Liste des Article</h1>
</div>
</div> -->

<div class="row">
<div class="col-md-12">
  <table class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Titre</th>
              <th>Contenu</th>
              <th>Ladate</th>
              <!-- <th>Image</th> -->
              <!-- <th>Slug</th> -->
              <th>actions</th>
          </tr>
      </thead>
      <tbody>
      {% for article in articles %}
          <tr>
              <td>{{ article.id }}</td>
              <td>{{ article.titre }}</td>
              <td>{{ article.contenu }}</td>
              <td>{{ article.ladate ? article.ladate|date('Y-m-d H:i:s') : '' }}</td>
              <!-- <td>{{ article.image }}</td> -->
              <!-- <td>{{ article.slug }}</td> -->
              <td>
                  <!-- <a href="{{ path('article_show', {'id': article.id}) }}">Afficher</a> -->
                  <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
              </td>
          </tr>
      {% else %}
          <tr>
              <td colspan="7">Aucun Enregisterement</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
      <a href="{{ path('article_new') }}">Ajouter Nouvelle video</a>
</div>
</div>



{% endblock %}
